## Airflow
logs/*
plugins/*
dags/*

## Configs
.env

## IDEs
.idea
.vscode

## Mac OS
.DS_Store

## Project
data/*
db/*
grafana/volume
models/*
reports/*
notebooks/*
logs/*
.dev/*
mlruns/*
mlartifacts/*

## Python
venv
.venv
__pycache__
